#contactonline,
#contactonline .contactonline-link,
#contactonline .contactonline-link *,
#contactonline #contactonline-float_in_page{
/* width:100px;
  background: #F7F7F7;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  bottom: 10px;
  color: #333333;
  cursor: pointer;
  */
/*  display: none;*/
/*
height: 20px;
  line-height: 20px;
  padding: 2px 2px;
  position: fixed;
  right: 0px;
  text-align: center;
  */
/*  overflow:hidden;*/
 /* z-index: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  */
float:none;
margin:0;
padding:0;
border:0;
font-size:100%;
font-weight:normal;
color:inherit;
}
#contactonline{
  width:200px;
  display:none;
  position:fixed;
  bottom:30px;
  right:20px;
  overflow:hidden;
  z-index:1;
}
#contactonline-float_in_page{
  padding:5px;
  background-color:#fff;
  display:none;
  opacity:0.9;
  max-width:192px;
  border:1px solid #eee;
}

#contactonline-float_in_page img{
display:block;
clear:both;
margin:5px auto;
}

/* IE6 don't support max-width*/
* html #contactonline #contactonline-float_in_page{
  width:190px;
}
#contactonline .contactonline-link *{
display:inline;
font-size:12px;
}
/*
#contactonline:hover {
  background: #EEEEEE;
}
*/
<!--[if lte IE 6]>
html {
  overflow-x: auto;
  overflow-y: hidden;
}

* html #contactonline {
  position:absolute;
}
<![endif]-->
