#contactonline {
  background: url(../images/contactonline.png) no-repeat center center;
  bottom: 20px;
  cursor: pointer;
  display: none;
  height: 70px;
  position: fixed;
  right: 20px;
  text-indent:-9999px;
  width: 70px;
  z-index: 1;
}

#contactonline:hover {
  opacity: 0.8;
}
#contactonline-display_in_content img,
#contactonline-display_in_block img{
 margin:2px;
}

<!--[if lte IE 6]>
html {
  overflow-x: auto;
  overflow-y: hidden;
}

* html #contactonline {
  position:absolute;
}
<![endif]-->

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

  #contactonline {
    background: url(../images/contactonline2x.png) no-repeat center center;
    background-size: 70px 70px;
  }
}
